body
{

	background: linear-gradient(#ed6400,#ed0000);
	background-image:url('background.jpg');
	background-repeat:no-repeat;
	text-align:center;
	background-size:100% 100%;
}
h3
{
	font-family:'Big Shoulders Text',cursive;
	font-size:50px;
	color: ivory;
	border: 5px solid white;
	width:30%;
	margin-left:35%;

}
h3:hover
{
	border-color: #f5e900;
}
table
{
	text-align:center;
	font-family:sans-serif;
	margin: 0px auto;
	color: #303030;
	width: 50%;
	height: 20%;
	border-collapse:collapse;
	border: 1px solid ivory;
}
.content
{
	font-family:'Big Shoulders Text',cursive;
	color:ivory;
	font-size: 30px;
}
.heading
{
 	font-family:'Nanum Gothic',sans-serif;
	text-align:center;
	color: ivory;
	font-size: 210%;
}
.subheading
{

 	font-family:'Nanum Gothic',sans-serif;
	text-align:center;
	color: ivory;
}
a
{
	text-decoration:none;
	color:navy;
}
.emailaddr
{
	font-family: sans-serif;
	text-align:center;
}
.image
{
	width:200px;
	height:200px;
	padding: 20px;
	display:block;
	background: rgb(210,210,210);
	border-radius:50%;
	margin: 10px auto;
}
.icons
{
	width:50px;
	height:50px;
	border-radius:7px;
}
.continuous
{
	display: inline;
	list-style-type: none;
}
ul
{
	color:ivory;
	font-family:'Big Shoulders Text',cursive;
	font-size: 30px;
}
quote
{
	font-family:'Special Elite',cursive;
	color: white;
	font-size: 110%;
}
a:hover
{
	color: black;
}
